/**
 * Данный CSS файл содержит в себе только абсолютно независящие от скинов стили,
 * должен располагаться в единственном экземпляре только в скине default
 * и не должен переопределяться во всех остальных скинах.
 * При ненахождении файла в специфическом скине он берется из скина default,
 * благодаря этому стили этого файла есть в любом скине.
 */

/* div как разделитель строк */
.ib-clear
{
  clear: both;
}

/* Представляем div как таблицу */
.ib-table
{
  display: table;
  width: 100%;
  height: 100%;
}

/* Представляем div как ячейку таблицы */
.ib-cell
{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/* Урезалка ширины под внутренний размер */
.ib-width-shrink
{
  display: inline-block;
}

/* Картинак окруженная пустотой */
.ib-padded-image
{
  padding: 5px;
}

