.fieldset-container {
    font-size: 15px;
    line-height: normal;
    margin: 15px 0;
}
.container > .fieldset-container {
    margin-top: 0;
}
.fieldset-container:first-child {
    padding-top: 0;
}
.fieldset-container:last-child {
    padding-bottom: 0;
}

.fieldset-container.fieldset-container-border-dotted {
    padding: 16px 20px 10px;
}

.fieldset-container.fieldset-container-border-dotted .field {
    padding: 3px 0;
}

.fieldset-legend {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}
.fieldset-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.fieldset-container-border-dotted {
    border: 1px dotted #d9dee3;
    border-radius: 6px;
    padding: 5px 18px 5px;
}
.fieldset-container.fieldset-container-border-dotted:last-child {
    border-bottom: 1px dotted #d9dee3;
}
.fieldset-container-border-dotted .field-title {
    width: 250px;
}