.input-display-false {
    display: none;
}

.file-attach-wrapper .span-reset, .file-attach-wrapper .span-edit {
    border-bottom: 1px solid #81c79a;
    color: #039035;
    font-size: 15px;
    padding: 0 1px 0 0;
    margin-right: 5px;
    cursor: pointer;
}

.file-attach-wrapper .download-filename, .file-attach-wrapper .span-wrapper {
    vertical-align: top;
}

.span-wrapper {
    display: inline-block;
}